@tailwind base;
@tailwind components;
@tailwind utilities;

html 
{
    background-color: black;
    font-family: url('./assets/font/Geist/GeistRegular.otf');
}

::-webkit-scrollbar{
    display: none;
}