@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --darkPrimary: rgb(5,5,5);
    --darkSecondary: rgb(10,10,10);
    --darkThird : #21232C;
    --darkFour : #19191f;
    
    --lightPrimary : #ebebeb;
    
    --primaryBG : #1E1F24;
    --secondaryBG : #21232C;
    --thirdBG : #242633;
}
html 
{
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
@font-face {
    font-family: "RobotoReguler";
    src: url("./Assets/font/Roboto/RobotoRegular.ttf");
}
@font-face {
    font-family: "RobotoMedium";
    src: url("./Assets/font/Roboto/RobotoMedium.ttf");
}
@font-face {
    font-family: "RobotoBold";
    src: url("./Assets/font/Roboto/RobotoBold.ttf");
}

::-webkit-scrollbar{
    display: none;
}